<div class="p-6 max-w-7xl mx-auto">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold text-primary">Publicaciones</h1>
    <div>
      <app-button
        variant="outline"
        [routerLink]="['create']"
      >
        + Nuevo Post
      </app-button>
      <app-button
        variant="outline"
        [routerLink]="['bulk']"
      >
        + Cargar JSON
      </app-button>
      <toggle-theme-button />
    </div>
  </div>

  <div class="mb-6">
    <input
      type="text"
      [ngModel]="search()"
      (ngModelChange)="search.set($event)"
      placeholder="Buscar por título o autor..."
      class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 outline-none"
    />
  </div>

  @if (isLoading()) {
    <loader-spinner/>
  } @else {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      @for (post of filteredPosts(); track post._id) {
        <posts-post-card
          [post]="post"
          (edit)="onEdit($event)"
          (delete)="onDelete($event)"/>
      } @empty {
        <div class="col-span-full text-center py-20 text-text-muted">
          No se encontraron publicaciones.
        </div>
      }
    </div>
  }
</div>
