.button {
  @apply flex items-center justify-center gap-2 px-4 py-2 rounded-lg font-medium transition-all active:scale-95 disabled:opacity-50
    disabled:cursor-not-allowed hover:cursor-pointer hover:shadow-sm;
}
